{% extends 'admin.html.twig' %}

{#{% form_theme form with 'bootstrap_4_layout.html.twig' only %}#}

{% set breadcrumbs = [{text: 'Tag'}, {text: 'List all tags'}] %}
{% set quick_actions = [{icon: 'flaticon-list', text: 'List all categories'}, {icon: 'flaticon-add', url: path('tag_create'), text: 'Create a tag'}] %}

{% block title %}List tags{% endblock %}
{% block subheader_title %}List all tags{% endblock %}
{% block content %}
    <div class="m-content">
        <div class="m-portlet m-portlet--full-height m-portlet--tabs m--padding-30">
            <div class="table-responsive-lg m-datatable m-datatable--default">
                <table class="table table-bordered table-hover table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tag name</th>

                        <th scope="col">Slug</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in pager.currentPageResults %}
                        <tr class="row-clickable" data-href="{{ path('tag_edit', {id: item.id}) }}" title="{{ path('category_edit', {id: item.id}) }}">
                            <td>{{ item.name }}</td>
                            <td>{{ item.tagSlug }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'pager.html.twig' with {pager: pager} %}
            </div>
        </div>
    </div>
{% endblock %}
